header nav {
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    margin: 0 auto;
}

header nav .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    text-decoration: none;
    color: var(--main-color);
    font-size: 1em;
    font-weight: bold;
}

header nav .item img {
    width: 1.5em;
    height: 1.5em;
}

header nav #logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav #logo img {
    width: 3.5em;
    height: 3.5em;
}

header nav #search {
    display: flex;
    flex: 1 1;
    margin: 0 1em;
}

header nav #search input {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    border-bottom: 1px solid var(--main-color);
}

header [identification] {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(156, 156, 156, 0.8);
    transition: top 0.5s;
}

header [identification] .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
    margin: 0.5em;
}

header [identification] .content #close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    margin: 0;
}

header [identification] .formulaire {
    border: none;
    border-radius: 0;
}

header [identification] .formulaire .body {
    margin: 1em 0;
    padding: 0 2em 3em 2em;
}

header [identification] .formulaire#register .body {
    border-left: 1px solid var(--main-color);
}

header #nav-connected {
    width: 100%;
    background-color: var(--main-color);
    margin-bottom: 1em;
}

header #nav-connected .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-width: var(--min-width);
}

header #nav-connected .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 2em;
    text-decoration: none;
    color: white;
    font-size: 1em;
    border-bottom: 1px solid var(--main-color);
}

header #nav-connected .item:hover {
    border-bottom: 1px solid white;
    transition: border-bottom 0.5s;
}


@media screen and (max-width: 65em) {
    header [identification] .content {
        flex-direction: column;
    }

    header [identification] .formulaire#register .body {
        border: none;
    }
}

@media screen and (max-width: 40em) {
    header nav #logo h1 {
        display: none;
    }
}

@media screen and (max-width: 30em) {
    header nav {
        padding-bottom: 0;
    }

    header nav #logo h1 {
        display: block;
    }

    header nav #search {
        display: none;
    }

    header [identification] .content {
        width: 100%;
    }
}